<?xml version="1.0"?>
<model>
  <name>Standard VTOL with downward facing camera</name>
  <version>1.0</version>
  <sdf version='1.4'>vtol_downwards_camera.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
  </description>
</model>
