<launch>
    <arg name="record_bag" default="true" />
    <arg name="start_time" default="undef"/>

    <node pkg="tf" type="static_transform_publisher" name="tf_90_deg"
        args="0 0 0 0 0 0 world local_origin 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
        args="0 0 0 0 0 0 fcu camera_link 10"/>
        
    <node name="pc_throttler" type="throttle" pkg="topic_tools" args="messages /camera/depth/points 10.0 /pc_throttled" />

    <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen">
        <param name="goal_x_param" value="46" />
        <param name="goal_y_param" value="42"/>
        <param name="goal_z_param" value="8" />
    </node>
</launch>
