<launch>
    <arg name="record_bag" default="true" />
    <arg name="start_time" default="undef"/>

    <node pkg="tf" type="static_transform_publisher" name="tf_90_deg"
        args="0 0 0 0 0 0 world local_origin 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
        args="0 0 0 0 0 0 fcu camera_link 10"/>

    <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen">
        <param name="goal_x_param" value="46" />
        <param name="goal_y_param" value="42"/>
        <param name="goal_z_param" value="8" />
    </node>

    <!-- Node to get system timestamp for logging -->
    <node name="timestamp" pkg="rostopic" type="rostopic" output="screen" args="echo $(arg start_time)" if="$(eval start_time != 'undef')" />

    <!-- Logging -->
    <node pkg="rosbag" type="record" name="log_bag" args="record -O log_$(arg start_time) /mavros/local_position/pose /mavros/local_position/velocity /goal_position /camera/depth/points /local_pointcloud /blocked_marker /rejected_marker /candidates_marker /selected_marker /current_setpoint" if="$(arg record_bag)" />

</launch>
