<launch>
    <arg name="gui" default="true" />
    <arg name="world_path" />

    <param name="use_sim_time" value="true" />

    <!-- Start PX4 -->
    <node name="sitl" pkg="px4" type="px4" output="screen"
        args="$(find px4) $(find px4)/posix-configs/SITL/init/ekf2/iris" />

    <!-- Start Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_path)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- Spawn Iris with depth camera -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-sdf -database iris_depth_camera -model iris" />
</launch>
