<launch>


    <arg name="mavros_transformation" default="0" />
    
    <param name="use_sim_time" value="false" />

    <node pkg="tf" type="static_transform_publisher" name="tf_90_deg"
          args="0 0 0 $(arg mavros_transformation) 0 0 world local_origin 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_front_camera"
          args="0.30 0.32 -0.11 0 0 0 fcu front_camera_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_right_camera"
          args="0.15 -0.10 -0.11 -1.3 0 0 fcu right_camera_link 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_left_camera"
          args="0.15 0.74 -0.11 1.3 0 3.14159 fcu left_camera_link 10"/>
                  
    <arg name="headless" default="false"/>
    <arg name="ns" default="/"/>
    <arg name="build" default="posix_sitl_default"/>
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="gcs_url" default="" />   <!-- GCS link is provided by SITL -->
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="est" default="ekf2"/>
    <arg name="serial_no_camera_front"    default="819612072525"/>
    <arg name="serial_no_camera_down"    default="817612071531"/>
    <arg name="serial_no_camera_left"    default="819612070388"/>
    <arg name="serial_no_camera_right"    default="819612070915"/>
    <arg name="depth_fps"            default="30"/>
    <arg name="infra1_fps"           default="30"/>
    <arg name="infra2_fps"           default="30"/>

    <!-- Launch cameras -->
    <include file="$(find realsense2_camera)/launch/rs_depthcloud.launch">
      <arg name="namespace"             value="camera_front" />
      <arg name="tf_prefix"             value="front_" />
      <arg name="serial_no"             value="$(arg serial_no_camera_front)"/>
    
      <arg name="depth_fps"             value="$(arg depth_fps)"/>
      <arg name="infra1_fps"            value="$(arg infra1_fps)"/>
      <arg name="infra2_fps"            value="$(arg infra2_fps)"/>

      <arg name="enable_pointcloud"     value="true"/>      
      <arg name="enable_imu"            value="false"/>
      <arg name="enable_fisheye"        value="false"/>
    </include>
  
    <include file="$(find realsense2_camera)/launch/rs_depthcloud.launch">
      <arg name="namespace"             value="camera_right" />
      <arg name="tf_prefix"             value="right_" />
      <arg name="serial_no"             value="$(arg serial_no_camera_right)"/>
    
      <arg name="depth_fps"             value="$(arg depth_fps)"/>
      <arg name="infra1_fps"            value="$(arg infra1_fps)"/>
      <arg name="infra2_fps"            value="$(arg infra2_fps)"/>

      <arg name="enable_pointcloud"     value="true"/>      
      <arg name="enable_imu"            value="false"/>
      <arg name="enable_fisheye"        value="false"/>
    </include>
  
    <include file="$(find realsense2_camera)/launch/rs_depthcloud.launch">
      <arg name="namespace"             value="camera_left" />
      <arg name="tf_prefix"             value="left_" />
      <arg name="serial_no"             value="$(arg serial_no_camera_left)"/>
    
      <arg name="depth_fps"             value="$(arg depth_fps)"/>
      <arg name="infra1_fps"            value="$(arg infra1_fps)"/>
      <arg name="infra2_fps"            value="$(arg infra2_fps)"/>

      <arg name="enable_pointcloud"     value="true"/>      
      <arg name="enable_imu"            value="false"/>
      <arg name="enable_fisheye"        value="false"/>
    </include>

    <!-- switch off and on auto exposure of Realsense cameras, as it does not work on startup -->
    <node name="set_RS_param" pkg="local_planner" type="realsense_params.sh" />

</launch>

