<launch>
    <param name="use_sim_time" value="false" />

    <!-- Transformation between the fcu and camera frame. It needs to be changed
    according to the specific setup. Please measure the dispacement between the
    camera and the flight controller in ENU body frame and update the x, y, z,
    yaw, pitch, and roll in meters-->
    <node pkg="tf" type="static_transform_publisher" name="tf_front_camera"
          args="0.30 0.32 -0.11 0 0 0 fcu front_camera_link 10"/>

    <arg name="headless" default="false"/>
    <arg name="ns" default="/"/>
    <arg name="build" default="posix_sitl_default"/>

    <!-- Change the serial or udp port to match your setup-->
    <arg name="fcu_url" default="/dev/ttyACM0:57600"/>
    <arg name="gcs_url" default="" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="est" default="ekf2"/>

    <!-- Launch MavROS -->
    <group ns="$(arg ns)">
        <include file="$(find mavros)/launch/node.launch">
            <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
            <arg name="config_yaml" value="$(find local_planner)/resource/px4_config.yaml" />
            <arg name="fcu_url" value="$(arg fcu_url)" />
            <arg name="gcs_url" value="$(arg gcs_url)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="tgt_component" value="$(arg tgt_component)" />
        </include>
    </group>

    <!-- Examples of how to launch cameras. Select the one appropariate. -->
    <!-- **************************************************************************************** -->

    <!-- Realsense D435-->
    <!-- Change the camera serial number to match your hardware -->
    <arg name="serial_no_camera_front"    default="819112072871"/>
    <arg name="depth_fps"            default="30"/>
    <arg name="infra1_fps"           default="30"/>
    <arg name="infra2_fps"           default="30"/>

    <include file="$(find local_planner)/launch/rs_depthcloud.launch">
      <arg name="namespace"             value="camera_front" />
      <arg name="tf_prefix"             value="front_camera" />
      <arg name="serial_no"             value="$(arg serial_no_camera_front)"/>
      <arg name="depth_fps"             value="$(arg depth_fps)"/>
      <arg name="infra1_fps"            value="$(arg infra1_fps)"/>
      <arg name="infra2_fps"            value="$(arg infra2_fps)"/>

      <arg name="enable_pointcloud"     value="false"/>
      <arg name="enable_imu"            value="false"/>
      <arg name="enable_fisheye"        value="false"/>
    </include>

    <!-- If working with a multi camera setup, start the realsense nodlet
    above for each camera, changing the camera serial number and the
    namespace accordingly -->

    <!-- Realsense D415-->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" >
    </include>

    <!-- Realsense R200 -->
    <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch" >
    </include>

    <!-- **************************************************************************************** -->

    <!-- Load custom console configuration -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find local_planner)/resource/custom_rosconsole.conf"/>
    <!-- Load local planner paramter -->
    <rosparam command="load" file="$(find local_planner)/cfg/params.yaml"/>

    <!-- Replace with the topic of the point cloud -->
    <arg name="pointcloud_topics" default="[/camera_front/depth/points]"/>

    <!-- Launch avoidance -->
    <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen" >
      <param name="goal_x_param" value="15" />
      <param name="goal_y_param" value="15"/>
      <param name="goal_z_param" value="4" />
      <rosparam param="pointcloud_topics" subst_value="True">$(arg pointcloud_topics)</rosparam>
    </node>

    <!-- If using RealSense D543 switch off and on auto exposure of Realsense cameras,
    as it does not work on startup -->
    <node name="set_RS_param" pkg="local_planner" type="realsense_params.sh" />

</launch>
