<launch>

    <arg name="record_point_cloud" default="false" />
    <arg name="record_histogram"   default="false" />
    <arg name="record_waypoints"   default="false" />
    <arg name="record_position"    default="false" />

    <arg name="mavros_transformation" default="0" />
    <node pkg="tf" type="static_transform_publisher" name="tf_90_deg"
          args="0 0 0 0 0 0 world local_origin 10"/>
    <node pkg="tf" type="static_transform_publisher" name="tf_depth_camera"
          args="0 0 0 -1.57 0 -1.57 fcu camera_link 10"/>   

    <node name="local_planner_node" pkg="local_planner" type="local_planner_node" output="screen">
        <param name="goal_x_param" value="17" />
        <param name="goal_y_param" value="15"/>
        <param name="goal_z_param" value="0" />
    </node>

</launch>
