<launch>
    <include file="$(find avoidance)/launch/global_planner_sitl_mavros.launch" >
        <arg name="model" value="iris_stereo_camera" />
        <!-- <arg name="world" value="outdoor_village" /> -->
        <arg name="point_cloud_topic" value="/stereo/points2" />
    </include>

    <node ns="stereo" pkg="stereo_image_proc" 
          type="stereo_image_proc" name="stereo_image_proc"/>

    <!-- <node name="disparity_image_transform" pkg="topic_tools" type="transform"
      args="/stereo/disparity /stereo/disparity_image sensor_msgs/Image 'm.image'" /> -->
</launch>
